.banner {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #cbc9bd;
  border: 1px solid var(--border-color);

  .banner_inner {
    width: 100%;
    padding: 2.5px 0 2.5px 60px;
    white-space: nowrap;
    overflow: hidden;

    p {
      display: inline-block;
      white-space: nowrap;
      animation: marquee 35s linear infinite;
      margin-top: 0;
      user-select: none;
      flex-shrink: 0;
      text-transform: uppercase;
      font-size: 1rem;
    }

    @keyframes marquee {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }
  }
}
