.header {
  // background: rgb(147, 176, 187);
  background-color: #93b0bb;
  .header_title {
    letter-spacing: -0.02em;
    color: #fff;
  }

  .h_logo {
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #fff;
  }

  .links {
    & > span {
      display: inline-block;
      padding: 0 1rem;
      letter-spacing: -0.02em;
      color: #fff;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .header_heading_label {
    display: block;
    transition: transform 0s $easing;
    transform: translateY(-60px);

    html.is-ready & {
      transform: none;
      transition-duration: 0.8s;
    }

    html.is-ready .o-layout_item:nth-child(2) & {
      transition-delay: 0.1s;
    }
  }

  .h-seperator {
    display: block;

    &::before {
      content: '';
      position: absolute;
      bottom: 0.5vw;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #fff;
      transform: scaleX(0);
      transition: transform 1s $easing;

      html.is-ready & {
        transform: scaleX(1);
      }
      @media (max-width: $to-small) {
        margin: 0 1.25rem;
      }
      @media (min-width: $from-medium) {
        margin: 0 3.25rem;
      }
    }
  }
}
