.hero {
  position: relative;
  @media (max-width: $to-small) {
    height: 90vh;
    min-height: 340px;
  }

  @media (min-width: $from-small) and (max-width: $to-medium) {
    height: 80vh;
    min-height: 380px;
  }

  @media (min-width: $from-medium) {
    height: 91vh;
    min-height: rem(750px);
  }

  .middle {
    @media (max-width: $to-small) {
      margin-top: calc(60vh / 3);
    }

    margin-top: calc(60vh / 4);
    P {
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: -0.03em;
      text-align: center;
    }
  }

  .h-summary {
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity 0.1s $easing, transform 1s $easing;
    will-change: transform;

    .h-summary_txt {
      overflow: hidden;
    }

    html.is-ready & {
      opacity: 1;
      transform: none;
      transition-delay: 0.15s;
    }
  }

  .h-header_title {
    font-weight: 500;
    font-size: clamp(3rem, 12vw, 12rem);
    text-align: center;
    font-family: 'Roslindale', sans-serif;
  }

  .h-header_title_line {
    display: block;
    opacity: 0;
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(-75deg);
    transition: opacity 0s $Power2EaseOut, transform 0s $Power2EaseOut;
    will-change: transform;
    line-height: 0.85;

    html.is-ready & {
      transform: none;
      opacity: 1;
      transition-duration: 0.8s;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
    }

    span {
      display: inline-block;
    }
  }

  .p-absolute {
    position: absolute;
    bottom: 3vw;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
    @media (min-width: $from-medium) {
      padding: 0 3rem;
      bottom: 1vw;
    }
  }
}
