.b-speed-block {
  position: relative;
}

.b-image_wrapper {
  position: relative;
  overflow: hidden;
}

.b-image {
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.4);
    transition: opacity 1.2s $Power2EaseOut, transform 1.2s $Power2EaseOut;
    will-change: transform;
  }

  &.is-inview {
    .img {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.4s;
    }
  }
}
