.one {
  position: relative;
  min-height: 100vh;
  background-color: #111;
  z-index: -1;

  @media (min-width: $from-medium) {
    min-height: 100vh;
  }

  // .one_title {
  //   font-weight: 400;
  //   font-size: clamp(3rem, 13vw, 13rem);
  //   text-align: center;
  //   font-family: 'Inter', sans-serif;
  //   color: #fff;
  //   margin-bottom: 4rem;
  // }

  .one_title_line {
    display: block;
    line-height: 0.9;

    span {
      display: inline-block;
    }
  }

  .o-middle {
    margin-bottom: 4rem;

    p {
      font-weight: 500;
      letter-spacing: -0.03em;
      text-align: center;
      color: rgba(255, 255, 255, 0.9);
      line-height: 1.1;
    }

    .icon {
      font-family: 'Times New Roman', Times, serif;
      font-size: 12vw;
      opacity: 0;
      transition: opacity 0s $easing, transform 2s $easing;
      transform: rotate(-180deg);
      will-change: transform;
    }

    &.is-inview {
      .icon {
        opacity: 1;
        transform: rotate(0deg);
        transition-delay: 0.8s;
      }
    }
  }

  .img-container {
    padding-bottom: 25px;
    @media screen and (min-width: 768px) {
      padding-bottom: 50px;
    }
  }

  p {
    margin: 1.5rem 0;
  }

  .o-summary {
    margin: 1.5rem auto;
  }

  .gif {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    .smiley {
      width: clamp(3vw, 7vw, 7rem);
      height: clamp(3vw, 7vw, 7rem);
      display: block;
      animation: rotation 5s infinite linear;
      will-change: transform;

      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
  }

  .content-para {
    font-weight: 500;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.1;
    opacity: 0;
    transition: opacity 1s $easing;

    & > div {
      position: relative;
    }
    &.is-inview {
      opacity: 1;
      transition-delay: 0.4s;
    }
  }

  h1 {
    line-height: 95%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 3rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.08em;
    font-weight: 600;
    @media screen and (min-width: 768px) {
      font-size: clamp(2rem, 9vw, 9rem);
    }
  }

  h1 > div {
    position: relative;
  }

  .text-heading {
    margin-bottom: var(--spacing-medium);
  }
}
